#one_action{
    position: relative;
}
h2.action_title {
    position: absolute;
    top: -42px;
    margin: 0 0 0 26px;
    padding: 0;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
}

#TOTAL_info{
    float: left;
    margin-bottom: 10px;

}

.TOTAL_block{
    float: left;
    margin-right: 15px;
    padding-left: 5px;
    color: #1e008c;
    font-size: 1.1em;
    /*color:#00117c;*/

}
.TOTAL_block span{
    color:#000;
    font-weight: bold;
    font-size: 1em;
    font-weight: bold;
}


.price_color{
    position: absolute;
    /*margin-top: -5px;*/
    float: left;
    width: 98%;
    height: 19px;
    margin-right: 20px !important;
}


/*          Инфо панели     */


#status_panel{
    width: 100%;
    height: 80px;
    position: absolute;
    top:0;
    left:0;
    background-image: url("../img/top_line_bg3.png");
    background-repeat: repeat-x;
}
#status_left_block{
    position: absolute;
    left:10px;
    height: 70px;
    min-width:20px;
    padding-top: 3px;

}
.status_info{
    clear: both;
    float: left;
    margin: 3px 0;
    width: 100%;
}
#status_right_block{
     position: absolute;
     left:50%;
     height: 70px;
     min-width:20px;
     padding-top: 3px;


 }

#status_temp_block{
    position: absolute;
    left:80%;
    height: 70px;
    min-width:20px;
    padding-top: 3px;


}

.status_info div.label{
    color: #16ff00!important;
    margin-left: 5px;
    margin-right: 5px;
    float: left;


}
.status_info div.status_text{
/*    float: left;*/
    /*width: 100%;*/
    margin-left: 5px;
}
.status_info div{

    font-family: Arial,sans-serif;
    font-size: 14px;
    color: #fff;


}



/*    КОНЕЦ      Инфо панели     */

/*.green{
    color: #0dab00 !important;
}*/
#go{
    cursor: pointer;
    color: #16ff00!important;
}

.label2{
    border: 1px solid #090151;

    border-radius: 4px;
    /*width: 100%;*/
    height: 25px;

    font-family: Arial, sans-serif;
    color: #16ff00!important;
    background: linear-gradient(#656565, #000000);


}
.label2 span{
    text-align: center;
    display: block;
    margin: 4px auto;
}


/*      Правый столбец    */

/*.green_link{
    color: #00da00!important;
    font-weight: bold;
}

.blue_link{
    color: #1100D6!important;
    font-weight: bold;
    margin-top: 4px;
}
.red_link{
    color: #f50c00 !important;
    font-weight: bold;
    *//*margin-top: 4px;*//*
}*/
.no_decoration{
    text-decoration: none!important;
}

.vertical_spliter{
    float: left;
    margin:0 8px;

}


#tickets_stack{

    float: left;
    /*background-color: rgba(204, 204, 204, 0.08);*/


}

.one_ticket .cost{
    color:#cc1313;
    float: right;
    margin-right: 8px;
}
.leftBorder{
  /*  display: block;
    float: left;
    border-left: 1px solid #ccc;
    height: 100%;
    margin-left: 2px;
    padding-left: 2px;*/
}
.one_ticket{
    width: 100%;
    min-height: 18px;
    overflow: hidden;
    border-bottom: 3px solid #6658ff;
    border-left: 1px solid #6658ff;
    /*border-right: 1px solid #6658ff;*/
    border-radius: 5px;
    background-color: #E6E6E6;
    font-family:  Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding-top: 6px;
    padding-left: 4px;
    color: #000;
    cursor: pointer;
    overflow: hidden;


}

#clear_tickets_stack{
    /*width: 180px;*/
    /*float: right;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #f00;
    margin-top: -18px;
    margin-right: 4px;
    cursor: pointer;*/
}

.btn{
    font-size: 0.9em;

   /* float:right;
    height: 18px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 8px;
    text-align: center;
    padding:3px;
    margin: 4px;
    margin-right: 0!important;
    color: #16ff00!important;
    *//*background-color: #000;*//*
    background: linear-gradient(#656565, #000000);*/
}

#prepare_order{
    /*width: 180px;*/
/*    color: #16ff00!important;
    font-size: 13px;*/
    /*padding: 2px 6px;*/
}

/*     КОНЕЦ  Правый столбец    */

/** НАВИГАТОР ***/

#for_zoom_label{
    position: relative;
    top:0;
    width: 100%;
    min-height: 24px;
    background-color: #7988A7;
    color:#fff;
    cursor: default;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
}
#for_zoom_label span{
    display: block;
    font-size:15px;
    color:#fff;
    height: 100%;
    /*font-weight: bold;*/
    padding: 5px;
    float: left;
    white-space: nowrap;

}

/** Конец НАВИГАТОР ***/



/***  Модалка Свободные места ****/

#map_price_info{
    /*position: absolute!important;*/
    /* z-index:1001;*/
    width: 180px;
    /*height: 300px;*/
    /*background-color: rgba(211, 226, 229, 0.72);*/
    display: none;
    opacity: 1;
    top:20px;
    left:40px;
    /*    min-height: 100px;
   min-width: 80px;*/
    /*border: 1px solid #ABB0BE;*/
    /*border: 1px solid #BFC5D3;*/
    /*background-image: url("../img/hint_bg2.png");*/
    /*border-radius: 4px 4px 0 0;*/
}

#map_price_info_price_info_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 24px;
    background-color: #BFC5D3;
    /*background-color: #ABB0BE;*/
}
#map_price_info_price_info_footer span{
    display: block;
    font-size:14px;
    color:#000;
    height: 100%;
    /*font-weight: bold;*/
    padding: 5px;
    white-space: nowrap;
    float: left;

}
#map_price_info_price_info_header_row{
    width: 100%;
    float: left;
    font-size: 14px;
    min-height: 24px;
    border-bottom: 1px solid #e8e8e8;
    height: 24px;

}
#map_price_info_price_info_header_row div span{
    color: #f4f4f4;
}
.map_price_info_price_info_one_row{
    position: relative;
    width: 100%;
    float: left;
    font-size: 14px;
    min-height: 24px;
    border-bottom: 1px solid #e8e8e8;
    height: 24px;
    cursor: pointer;
}
.map_price_info_price_info_one_row_status{
    position: absolute;
    left:2px;
    top:2px;
    width: 20px;
    height: 20px;
    background-image: url("../img/point20_20.png");
    display: none;

}

.map_price_info_price_info_clo1{
    float: left;
    width: 50%;
    /*border-right: 1px solid #e8e8e8;*/
    /*background-color: rgb(129, 126, 135);*/
    text-align: center;
    margin-left: -1px;
    height: 100%;
    background-image:url("../img/price_info_row_bg025.png");
    background-repeat: repeat-x;
}
.map_price_info_price_info_clo2{
    float: right;
    width: 50%;
    /*background-color: rgb(129, 126, 135);*/
    text-align: center;
    height: 100%;
    background-image:url("../img/price_info_row_bg025.png");
    background-repeat: repeat-x;
}

.map_price_info_price_info_clo1 span, .map_price_info_price_info_clo2 span{
    display: block;
    font-size:14px;
    /*line-height: 100%;*/
    /*color: #f4f4f4;*/
    color: #000000;
    /*font-weight: bold;*/
    padding: 5px;
    /*height: 100%;*/
    overflow:hidden;
    white-space: nowrap;


}
#map_price_info_price_info_header_row span{
    white-space: normal;
}
.map_price_info_price_info_split{
    width: 1px;
    height: 100%;
    float: left;
    background-color: #e8e8e8;

}




/*** Конец Модалка Свободные места ****/


#map_refresh{
    float: right;
    margin-right: 10px;
    cursor: pointer;

}

#for_context_menu_one_action{
    /*position: absolute;*/
}
.context-menu-root{
    position: absolute;
}
/*
.context-menu-one{
    background-color: #FFF;
    min-width: 80px;
}*/



.modalCatalogWrapper {
    display: none;
    width: 100%;
    z-index: 2000;
    position: absolute;
}
.modalCatalogWrapper .container {
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}
.modalCatalogWrapper .well {
    max-height: 300px;
    overflow-y: scroll;
}

.modalCatalogWrapper .spinner {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3000;
}