


 @media screen {
    #report{
        display: none;
    }

 }
@media print {
    #report{
        font-size: 10px;
        display: block;
    }
    #report table {
        font-size: 10px;
    }
}


@media print{
  .btn.print {
    display: none;
  }
}
