.btn.print {
  position: fixed;
}

table {
  border-collapse:collapse !important;
}

table td {
  font-size: 14px;
  padding: 2px;
  text-align: right;
  border: 1px solid;
}

table.table_head tr.th td {
  text-align: center;
}

td.th_one {
  width: 60px;
}
td.th_two {
  width: 200px;
}
td.th_three {
  width: 200px;
}
td.th_four {
  width: 200px;
}

td.tr_one {
  width: 60px;
}
td.tr_two {
  width: 100px;
}
td.tr_three {
  width: 100px;
}
td.tr_four {
  width: 100px;
}
td.tr_five {
  width: 100px;
}
td.tr_six {
  width: 100px;
}
td.tr_seven {
  width: 100px;
}

tr.br td{
  padding: 10px;
  border: none;
}

tr.itogo td{
  font-weight: bold;
  border: none;
}
tr.itogo td.title {
  font-weight: normal;
}

tr.report_action td{
  padding: 10px 0;
  text-align: center;
  border: none;
}

tr.total {
  border-top: 2px solid;
}

tr.total td {
  font-size: 16px;
  font-weight: bold;
  border: none;
}



.bottom {
  width: 1250px;
  margin: 25px 0;
}

.bottom td {
  padding-top: 40px;
  font-weight: bold;
  text-align: left;
  border: none;
}

.bottom td .hr {
  display: inline-block;
  width: 125px;
  height: 15px;
  margin-left: 10px;
 border-bottom: 1px solid;
}

.bottom .left {
  float: left;
  width: 50%;
}
.bottom .right {
  float: left;
  width: 50%;
}