block admin_header
    .page-header
        .container
            .logo.adminHome#logo
                | c
                span.redLogo
                    |ff
                | t.ru | administration

    .page-content
        .admin-main-menu-wrapper
            .container
                ul.admin-main-menu
                    li
                        a(href="#") Пользователи
                    li
                        a(href="admin_events") Мероприятия
                    li
                        a(href="#") Заявки
                    li
                        a(href="#") Клубы
                    li
                        a(href="#") Судьи
                    li
                        a(href="#") Судейские курсы
                    li
                        a(href="#") FAQ
                    li
                        a(href="#") Рассылки
                    li
                        a(href="#") Статичные страницы


