extends layout
block content
    .container
        h2 Клубы
            hr
            .row
                .col-md-12.wows-list-wrapper
                    for a in items.data
                        .col-md-3
                            .wow-item-inner
                                .wow-image
                                    a.wow-item-img(href="club?id=#{a.id}")
                                        -var path = (a.photo)? 'upload/'+a.photo: 'img/def_club.jpg';
                                        img.wid100pr(src="#{path}")
                                .club-information
                                    | #{a.title}
                    else
                        li Нет Клубов.