extends layout
block content
    .container
        h2 Игры
            hr
            .row
                .col-md-12.wows-list-wrapper
                    for a in items.data
                        .col-md-3
                            .wow-item-inner
                                .wow-image
                                    a.wow-item-img(href="event?id=#{a.id}")
                                        div.cover.wid100pr.h100pr(style='background-image: url(upload/#{a.thumb})')
                                .wow-information
                                    div(class="wow-status-dot #{a.status_sys_name}")
                                    | #{a.title}
                    else
                        li Нет игр.