block footer
   .page-footer
      .container.noPad.prefooter
         .subscribe Подписаться на рассылку
         .social-media-block
            .flLeft.preSocial Мы в соц. сетях:
            a.fa.fa-facebook.hov_fb
            a.fa.fa-vk.hov_vk
            a.fa.fa-google-plus.hov_gp
      .container
         #footer_logo.logo
            img(src="img/f_logo.png")
         #bot-main-menu.main-menu-wrapper
            ul.main-menu
               li
                  a Карта сайта
               li
                  a Для партнеров
               li
                  a Контакты