block partners_block
    .partnersBlock
        .container.partners.marBot30.noPad
            h3.fullDarkHeader
                span.fullDarkHeader-inner
                    | Единомышленники
            .row
                .col-md-12
                    a(href="http://www.reebok.ru/crossfit").col-md-2
                        img(src="img/part1.png")
                    a(href="http://rocktape.ru/").col-md-2
                        img(src="img/part2.png")
                    a(href="http://www.yousteel.ru/").col-md-2
                        img(src="img/part3.png")
                    a(href="http://monko.net/").col-md-2
                        img(src="img/part4.png")
                    a(href="http://www.rgufk.ru/").col-md-2
                        img(src="img/part5.png")
                    a(href="http://www.reebok.ru/").col-md-2
                        img(src="img/part6.png")