.preheader{
    /*background-color: #ff7d00;*/
    /*margin-top: 20px;*/
}
.page-header>.container{
    background-image: none;
    background-color: #121212;
}
.page-header{
    background-color: transparent;
}
.page-header>.container.orange{
    background-color: #ff7d00;
}

.contact-us i{
    font-size: 16px;
}
.contact-us{
    padding: 8px 7px;
    color: #fff;
    font-size: 13px;
    font-family: opensanssemibold, arial, sans-serif;
}
#logo {
    float: left;
    padding: 19px 20px 19px 20px;
    margin: 0;
    margin-left: -15px;
}
#logo:hover{
    background-color: #000;
}
#top-main-menu {
    float: right;
    padding: 0;
    margin: 0;
    margin-right: -15px;
}

.main-menu-wrapper li a{
    color: #fff;
    padding: 31px 24px 32px 24px;
    text-decoration: none;
    float: left;

}
#top-main-menu{
    position: relative;
}
.main-menu-wrapper li {
    list-style: none;
    float: left;
    position: relative;
    margin: 0;
}
.main-menu-wrapper li:hover{
    background-color: #332C29;
}
a.open-calendar{
    padding: 31px 32px 27px 32px!important;
}

a.open-calendar.opened{
    background-color: #332C29;
}


.open-calendar i{
    font-size: 24px;
    color: #ff7d00;
}
.calendar-wrapper{
    position: absolute;
    right: 0;
    top: 83px;
    width: 360px;
    z-index: 10;
    background-color: rgba(51, 44, 41, 0.5);
}
.fc-today-button{
    display: none;
}
.fc-toolbar h2 {
    margin: 0;
    font-size: 15px;
    color: #ddd;
    margin-left: 10px!important;
    margin-top: 14px;
    text-transform: uppercase;
}
.big-content-wrapper{
    opacity: 0.5;

}
.fc-button-group button:hover{
    background-color: #111;
}
.fc-button-group button{
    height: 44px!important;
    width: 44px;
    background-color: transparent;
    background-image: none;
    text-align: center;
    padding: 0!important;
    color: #ddd;
    text-shadow: 0 0 0 transparent;
    border-radius: 0!important;
    border: 0!important;
    box-shadow: 0 0 0 transparent;
    outline: 0!important;
}


.fc-toolbar{
    /*padding: 6px 9px;*/
    margin-bottom: 0;
}

.fc td, .fc th{
    border: 0;
}
.fc-unthemed .fc-today{
    background: #2E2E2E;
    color: #FFF;

}


.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number{
    padding: 0 6px;
}

.fc-widget-header{
    background-color: #000;
    padding-top: 3px;
    padding-bottom: 3px;
}
.container.noPad{
    padding: 0;
}

.main-slider-slide-left,
.main-slider-slide-right {
    position: relative;
    height: 40px;
    float: left;
    width: 40px;
    background-color: #e01b1a;
    color: #fff;
    font-size: 30px;
    margin-top: 0;
    cursor: pointer;
    z-index: 11;
    padding-top: 0;
    text-align: center;
}
.main-slider-controls{
    position: absolute;
    bottom: 0;
    left: 50%;
}
.main-slider-dots-wrapper{
    float: left;
}
.main-slider-dots-wrapper ul{
    margin: 0;
    padding: 0;
}

.main-slider-dots-wrapper ul li{
    list-style: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    float: left;
    text-align: center;
    padding-top: 11px;
    background-color: rgba(255,255,255,0.6);

}

.main-slider-dots-wrapper ul li:hover{
    background-color: rgba(255,255,255,0.8);
    color: #000;
}
.main-slider-wrapper-new{
    height: 470px;
}