@font-face {
    font-family: PT_Sans-Web-Regular; /* Гарнитура шрифта */
    src: url(../fonts/PT_Sans-Web-Regular.ttf); /* Путь к файлу со шрифтом */
}
/*#box_for_map, #box_for_map2, #box_for_map3, #box_for_map4, #box_for_map5, #box_for_mapEditor, #box_for_map_subscribe{
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    *//*top:80px;*//*
    left:10px;
    background-color: #d9d9d9;
    float: left;
}*/

.loader_box{
    position: absolute;
    z-index:104;
    background-color: #FFF;
}

.loader{
    position: relative;
    width:94px;
    height: 100px;
    background-image: url("../img/loader.gif");
}


#topHint{
    position: relative;
    z-index: 103;
    /*width: 100%;*/
  /*  top:0;
    left: 0;*/
/*    height: 24px;*/

    background-color: rgba(2, 2, 2, 0.47);
    color:#FFF;
    padding: 4px 10px 4px 4px;
    float: left;
    display: none;

}


#topHint span{
    display: block;
    float: left;
    clear: both;
    /*margin: 4px;*/
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: left;

}


.box_for_canvas{
    position: absolute;
   /* width: 100px;
    height: 100px;*/
    overflow: hidden;
    /*top:80px;*/
    /*left:10px;*/
    /*background-color: #d9d9d9;*/
    /*background-color: #F5F5F5;*/
    background-color: #f9f9f9;
    float: left;
    border: 1px solid #c1c1c1;
}


#select_rect{
    position: relative;
    width: 0;
    height: 0;
    top:0;
    left:0;
    border: 1px dotted #000;
    background-image: url("../img/select_bg020.png");
    background-repeat: repeat;
    display: none;
}



#canvas1{
    position: absolute;
    z-index: 100;
    top:0;
    left:0;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}



.box_for_zoom{
      position: absolute;
    z-index: 102;
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    /*top:80px;*/
    right:0;
    /*top:600px;*/
    bottom: 0;
    /*display: none;*/
    background-color: rgba(239, 239, 239, 0.85);
    border: 1px solid #c1c1c1;

    /*  border: 1px solid #BFC5D3;
background-image: url("../img/hint_bg2.png");
border-radius: 4px 4px 0 0;*/
    /*display: none;*/
}

#canvas2{
    position: absolute;
    z-index: 100;
    left:0;

}

/*
#hint{
    position: absolute;
    z-index: 1003;
    top:0;
    left: 0;
    width: 300px;
    height: auto;
    background-image: url("../img/hint_bg.png");
    border-radius: 4px;
    padding: 5px;
    display: none;
}
*/

#hint_box{
    position: absolute;
    bottom:0;
    left:0;
    /*width: 300px;*/
    width: 100%;
    z-index: 101;
    background-color: #c1c1c1;
    overflow-y: auto;
    overflow-x: hidden;
}

#hint_box .table{
    margin: 0!important;

}
#hint_box .col-md-12{
    padding: 5px!important;
}

#right_column{
    position: absolute;
    float: left;
    /*right: 10px;*/
    right: 0;
    width: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    /*top:80px;*/

}
.right_column_block{
    width: 100%;
    float:left;
    margin:2px 0;
}
.right_column_label{
    float: left;
    font-weight: bold;

}
.right_column_value{
    float: left;
    margin-left: 10px;
    color: #008700;
    font-weight: bold;

}
.right_column_link{
    color: #00f;
    cursor: pointer;
    text-decoration: underline;
}


.inlineEditing.placeTitle, .inlineEditing.lineTitle{
    min-width: 40px;
    min-height: 40px;
}
#mapInfo{
    display:none;
    position: absolute;
    z-index: 100000;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 60px;
    background-color: #cccccc;
}