html, body {height: 100%}

body {
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 14px Arial,Helvetica,sans-serif;
	/*background: #EFEFEF;*/
}

a {
	color:#444;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}

:focus {
	outline: 0;
}

ul, li {padding:0;margin:0;list-style:none}

#page {
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

.formpay {
	position: relative;
	display: none;
	width: 50%;
	height: 80%;
	margin: 0 auto;
}



#header {
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#sidebar {
	padding: 0px 0px 0px 0px;
}

#footer {
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo {
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu {
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul {
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li {
	display: inline;
}

#mainmenu ul li a {
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success {
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error {
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice {
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success {
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a {
	color:#8a1f11;
}

div.flash-notice a {
	color:#514721;
}

div.flash-success a {
	color:#264409;
}

div.form .rememberMe label {
	display: inline;
}

div.view {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs {
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span {
	font-weight: bold;
}

div.search-form {
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet {

}

.portlet-decoration {
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content {
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li {
	padding: 2px 0 4px 0px;
}

.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li {
	padding-bottom: 2px;
}

.operations li a {
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited {
	color: #0066A4;
}

.operations li a:hover {
	background: #80CFFF;
}

.main {min-width:960px}
	.main .header {}
	.main .mainmenu {}
	.main .breadcrumbs {}
	.main .cmiddle {overflow:hidden;margin:10px 20px}
		.cmiddle .cleft {float:left;width:200px;}
		
		.col1 .ccontent {float:left;width:100%;margin-right:-200px}
			.col1 .ccontent2 {margin-right:200px;padding:0 20px}

		.col2 .ccontent {float:left;width:100%;margin-right:-400px}
			.col2 .ccontent2 {margin-right:400px;padding:0 20px}
			
		.column1 .col2 .ccontent {margin-right:-200px}
			.column1 .col2 .ccontent2 {margin-right:200px}
			
		.col2 .cright {float:right;width:200px}

.ccontent h1 {font-size:18px}

ul.leftmenu li {margin:0 0 15px 0;}
	ul.leftmenu li a, ul.leftmenu li span {display:block;padding: 3px 8px;background: #B7D6E7;border-left: 5px solid #6FACCF;color:#298dcd;text-decoration:none;font-size:12px;font-weight:bold;font-family:Arial}
		ul.leftmenu li a:hover {background: #80CFFF;}
		ul.leftmenu li ul {padding: 5px 8px;background: #EFFDFF;}
			ul.leftmenu li li {margin:0}
				ul.leftmenu li li a {padding:2px 0 2px 8px;margin:0;background:none;border:none;color:#0066A4}

.fixed {
	position:fixed;
}
* html .fixed {
	position:absolute;
}

#ajaxhider_overlay {
	width:100%;
	height:100%;
	background:none;
	top:0;
	left:0;
	z-index:1000;
}

#popuphider_overlay {
	width:100%;
	height:100%;
	background:#000;
	top:0;
	left:0;
	z-index:1000;
	-moz-opacity:.5 !important;
	opacity:.5 !important;
	filter:alpha(opacity=50);
}

#ajaxhider, #popuphider, .hider {
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1001;
}

.popupwindow {position:relative;width:724px;background:#FFF;border:1px solid #999;text-align:left;color:#000}
	.popupwindow a {color:#000}
#popupcontent {padding:2px}
.popupclose {position:absolute;left:28px;top:-25px;width:100%;height:25px;text-align:right;font-size:12px;line-height:25px}
	.popupclose a {color:#733;margin-right:0px;}

.c, .w, .h {
	border:none;
	padding:0;
	margin:0;
	border-collapse:collapse;
}
.c td, .w td, .h td {
	border:none;
	padding:0;
	margin:0;
}
.c tr, .w tr, .h tr {
	border:none;
	padding:0;
	margin:0;
}
.w {width:100%;}
.h {width:100%;height:100%;}

/* inline block */
.ib {display: -moz-inline-box;}
.ib {display: inline-block;}
* html .ib {display: inline;}
*:first-child+html .ib {display: inline;}

ajaxscript, .ajaxscript {display:none}

div.form .inline label, div.form.inline label {display:inline}

.fatalerror {
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
}

.button-column {white-space:nowrap}

.pagersize {text-align: right; margin: 5px 0;}

.my-grid-view {}
.my-grid-view .pager {margin-right: 50px !important;}
.my-grid-view .pagersize {margin-top: -17px;}

#perfomancelist {margin:15px;text-align:left}
	#perfomancelist .item {margin-bottom:5px}

.btn { border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179); padding: 4px 10px; border-radius: 4px; text-align: center; color: rgb(51, 51, 51); line-height: 18px; font-size: 13px; margin-bottom: 0px; display: inline-block; filter: progid:dximagetransform.microsoft.gradient(enabled=false); cursor: pointer; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.05); background-repeat: repeat-x; background-color: rgb(245, 245, 245); }
.btn:hover { background-color: rgb(230, 230, 230); }
.btn:active { background-color: rgb(230, 230, 230); }
.active.btn { background-color: rgb(230, 230, 230); }
.disabled.btn { background-color: rgb(230, 230, 230); }
[disabled].btn { background-color: rgb(230, 230, 230); }
.btn:hover { background-position: 0px -15px; color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(230, 230, 230); -webkit-transition: background-position .1s linear; -moz-transition: background-position .1s linear; -ms-transition: background-position .1s linear; -o-transition: background-position .1s linear; transition: background-position .1s linear; }
.btn:focus { outline: rgb(51, 51, 51) dotted thin; outline-offset: -2px; }

.btn-large { padding: 8px 14px; border-radius: 5px; line-height: normal; font-size: 18px; color: #777; }

.btn-mmdm { border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); filter: progid:dximagetransform.microsoft.gradient(enabled=false); background-repeat: repeat-x; background-color: rgb(218, 79, 73); }
.btn-mmdm:hover { color: rgb(255, 255, 255); background-color: rgb(215, 21, 0); }
.btn-mmdm:active { color: rgb(255, 255, 255); background-color: rgb(215, 21, 0); }
.active.btn-mmdm { color: rgb(255, 255, 255); background-color: rgb(215, 21, 0); }
.disabled.btn-mmdm { color: rgb(255, 255, 255); background-color: gray; }
input[disabled].btn-mmdm { color: rgb(255, 255, 255); background-color: gray; }

#content {height: 100%}