a {
    cursor: pointer;
}

img.loader {
    position: absolute;
    margin: 200px 0 0 400px;
}


.ModalWin {
    position: absolute;
    display: none;
    width: 800px;
    height: 800px;
    top: 0px;
    left: 50%;
    margin-left: -400px;
    background: #ccc;
    box-shadow: 0 0 10px #000;
}

.test_post {
    float: right;

}
#test_post {
    position: absolute;
    width: 250px;
    top: 30px;
    right: 5px;
}
#test_post label {
    display: block;
    clear: both;
}

#test_post label input {
    float: right;
}


.mmenu {
    display: none;
    background: #ccc;
}
.mmenu ul li {
    float: left;
    margin: 0 5px;
    padding: 5px;
    list-style: none;

}
.mmenu ul li a {
    color: blue;
    cursor: pointer;
}

.wrap {

}
.place {
    width: 100%;
    height: 100%;
    position: absolute;
}

.formpay {
    position: absolute;
    width: 994px;
    height: 100%;
    background: #fff;
}

.formpay .left {
    float: left;
    width: 375px;
    margin-left: 100px;
}
.formpay .right {
    float: right;
    width: 490px;
}

.formpay form{
    position: relative;
    margin: 10px auto;
    padding: 10px 0;
    
}
.formpay form  label{
    display: block;
}
.formpay form  label div {
    margin: 5px 0;
}
.formpay .label {
    float: left;
    width: 100px;
    margin: 0 10px;
    padding-top: 5px;
    font-size: 16px;
}
.formpay form input[type=text] {
    width: 220px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 5px #ccc inset;
}
.formpay form input[type=button] {
    margin: 0px 20px 10px;
    padding: 7px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
}
.formpay form a {

}

.formpay form .error {
    height: 30px;
}
.formpay form .error .error_msg {
    display: none;
    color: red;
}

.btn:focus,.btn:active {
    border: none;
    outline: none;
}


.parent {
    position: relative;
    width: 994px;
    height: 550px;
    background-color: #EAEDFF;
    margin: 0 auto;
}
.parent h1 {
    position: absolute;
    width: 4395%;
    text-align: center; 
    font-size: 135%;
}


#places {
    background: none repeat scroll 0 0 #EAEDFF;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#places div.place {
    border: 1px solid #000000;
    height: 30%;
    position: absolute;
    width: 30%;
}
#places div.status0 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
}
#places div.status1 {
    background: none repeat scroll 0 0 gray;
}
#places div.status2 {
    background: none repeat scroll 0 0 gray;
}
#places div.status3 {
    background: none repeat scroll 0 0 gray;
}
#places div.status4 {
    background: none repeat scroll 0 0 gray;
}
#places div.sel {
    background: none repeat scroll 0 0 red !important;
}
#orderbox {
    left: 10px;
    position: absolute;
    top: 100px;
}
#orderbox .hbox {
    background: #555;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    position: relative;
    width: 150px;
}
#orderbox .hbox p {
    margin: 0 0 5px;
}
#scalepanel {
    left: 20px;
    position: absolute;
    top: 10px;
}

.alertWin {
    position: absolute;
    display: none;
    padding: 10px;
    background: #555;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #000;
    color: #FFFFFF;
    font-weight: bold;
    z-index: 1;
}

.alertWin .alertWinButtons {
    position: relative;
    margin-top: 5px;
    text-align: center;
}
