<div class="window_body">
    <div class="title">
        <div class="text"><%= title %></div>
        <div class="close">close</div>
    </div>
    <div class="message_box">
        <%= message %>
    </div>
    <% if (ok_button) { %>
        <div></div>
    <% } %>
</div>